<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestBubble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE7F0D6A1CACB74100D4D95C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE7F0D831CACB74100D4D95C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE7F0D8E1CACB74100D4D95C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
